﻿<div class="resume-section-content">
    <h2>İletişim</h2>
    <form method="post">
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="Adsoyad" />
        <label>E-Posta</label>
        <input type="text" class="form-control" name="Mail" />
        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" />
        <label>Mesajınız</label>
        <input type="text" class="form-control" name="Mesaj" />
        <br />
        <button class="btn btn-success">Gönder</button>
    </form>
</div>
