USE [DbCv]
GO
/****** Object:  Table [dbo].[TblAdmin]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAdmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](20) NULL,
	[Sifre] [varchar](20) NULL,
 CONSTRAINT [PK_TblAdmin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDeneyimlerim]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDeneyimlerim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[AltBaslik] [varchar](100) NULL,
	[Aciklama] [varchar](max) NULL,
	[Tarih] [varchar](100) NULL,
 CONSTRAINT [PK_TblDeneyimlerim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEgitimlerim]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEgitimlerim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[AltBaslik1] [varchar](100) NULL,
	[AltBaslik2] [varchar](100) NULL,
	[Tarih] [varchar](100) NULL,
 CONSTRAINT [PK_TblEğitimlerim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblHakkimda]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblHakkimda](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](30) NULL,
	[Soyad] [varchar](30) NULL,
	[Adres] [varchar](100) NULL,
	[Telefon] [varchar](20) NULL,
	[Mail] [varchar](50) NULL,
	[Aciklama] [varchar](max) NULL,
	[Resim] [varchar](100) NULL,
 CONSTRAINT [PK_TblHakkimda] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblHobilerim]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblHobilerim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama1] [varchar](500) NULL,
	[Aciklama2] [varchar](500) NULL,
 CONSTRAINT [PK_TblHobilerim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblIletisim]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblIletisim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adsoyad] [varchar](100) NULL,
	[Mail] [varchar](50) NULL,
	[Konu] [varchar](100) NULL,
	[Mesaj] [varchar](1000) NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_TblIletisim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSertifikalarım]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSertifikalarım](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](250) NULL,
	[Tarih] [varchar](30) NULL,
 CONSTRAINT [PK_TblSertifikalarım] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSosyalMedya]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSosyalMedya](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](30) NULL,
	[Link] [nvarchar](255) NULL,
	[Ikon] [varchar](20) NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblYeteneklerim]    Script Date: 7.11.2025 15:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblYeteneklerim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Yetenek] [nvarchar](100) NULL,
	[Oran] [tinyint] NULL,
 CONSTRAINT [PK_TblYeteneklerim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblAdmin] ON 

INSERT [dbo].[TblAdmin] ([ID], [KullaniciAdi], [Sifre]) VALUES (1, N'Melike', N'12345')
SET IDENTITY_INSERT [dbo].[TblAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[TblDeneyimlerim] ON 

INSERT [dbo].[TblDeneyimlerim] ([ID], [Baslik], [AltBaslik], [Aciklama], [Tarih]) VALUES (1, N'Stajyer', N'Arel Bilişim', N'Modern web teknolojileri alanında temel deneyim kazandım. Staj süresince özellikle frontend geliştirme süreçlerini gözlemleme ve projelerin yapısına dahil olma fırsatım oldu.
Ayrıca kendi girişimimle React kütüphanesini öğrenmeye başladım ve JavaScript bilgimi pekiştirerek kullanıcı arayüzü geliştirme pratiği edindim.
Takım içi iletişim, proje akışı ve versiyon kontrolü (GitHub) konularında da deneyim kazandım.', N'Temmuz 2023 - Ağustos 2023')
SET IDENTITY_INSERT [dbo].[TblDeneyimlerim] OFF
GO
SET IDENTITY_INSERT [dbo].[TblEgitimlerim] ON 

INSERT [dbo].[TblEgitimlerim] ([ID], [Baslik], [AltBaslik1], [AltBaslik2], [Tarih]) VALUES (1, N'Namık Kemal Üniversitesi', N'Teknik Bilimler Meslek Yüksekokulu', N'Bilgisayar Programcılığı', N'Ağustos 2021- Ağustos 2023')
INSERT [dbo].[TblEgitimlerim] ([ID], [Baslik], [AltBaslik1], [AltBaslik2], [Tarih]) VALUES (2, N'Fullstack Developer Bootcamp', N'Murat Yücedağ – YouTube / Udemy', N'Modern web teknolojileriyle fullstack geliştirme eğitimi alıyorum.', N'Ekim 2025 - Devam Ediyor')
SET IDENTITY_INSERT [dbo].[TblEgitimlerim] OFF
GO
SET IDENTITY_INSERT [dbo].[TblHakkimda] ON 

INSERT [dbo].[TblHakkimda] ([ID], [Ad], [Soyad], [Adres], [Telefon], [Mail], [Aciklama], [Resim]) VALUES (1, N'Melike', N'Demirci', N'Tekirdağ/Türkiye', N'(500)(500 00 00)', N'melikedmrcii11gmail.com', N'Herkese merhaba, ben Melike. Bilgisyar Programcılığı mezunuyum. Şu anda hayatıma kendimi yazılım alanında geliştirerek devam etmekteyim.', N'https://i.hizliresim.com/cz64qku.jpg')
SET IDENTITY_INSERT [dbo].[TblHakkimda] OFF
GO
SET IDENTITY_INSERT [dbo].[TblHobilerim] ON 

INSERT [dbo].[TblHobilerim] ([ID], [Aciklama1], [Aciklama2]) VALUES (1, N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type  
specimen book.', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
INSERT [dbo].[TblHobilerim] ([ID], [Aciklama1], [Aciklama2]) VALUES (2, N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
SET IDENTITY_INSERT [dbo].[TblHobilerim] OFF
GO
SET IDENTITY_INSERT [dbo].[TblIletisim] ON 

INSERT [dbo].[TblIletisim] ([ID], [Adsoyad], [Mail], [Konu], [Mesaj], [Tarih]) VALUES (1, N'Melike Demirci', N'mel@gmail.com', N'Lorem ipsum dolor sit amet.', N'Lorem ipsum dolor sit amet.', CAST(N'2025-10-05' AS Date))
INSERT [dbo].[TblIletisim] ([ID], [Adsoyad], [Mail], [Konu], [Mesaj], [Tarih]) VALUES (2, N'Selin Sayar', N'sel@gmail.com', N'Lorem ipsum dolor sit amet.', N'Lorem ipsum dolor sit amet.', CAST(N'2025-10-05' AS Date))
INSERT [dbo].[TblIletisim] ([ID], [Adsoyad], [Mail], [Konu], [Mesaj], [Tarih]) VALUES (3, N'Uras Duran', N'urs@gmail.com', N'Lorem ipsum dolor sit amet.', N'Lorem ipsum dolor sit amet.', CAST(N'2025-10-05' AS Date))
SET IDENTITY_INSERT [dbo].[TblIletisim] OFF
GO
SET IDENTITY_INSERT [dbo].[TblSertifikalarım] ON 

INSERT [dbo].[TblSertifikalarım] ([ID], [Aciklama], [Tarih]) VALUES (1, N'Git ve GitHub – BTKAkademi', N'Ocak - 2024')
INSERT [dbo].[TblSertifikalarım] ([ID], [Aciklama], [Tarih]) VALUES (2, N'SEO Eğitimi
 İşletme Enstitüsü– İstanbul İşletme Enstitüsü', N'Ekim -  2024')
INSERT [dbo].[TblSertifikalarım] ([ID], [Aciklama], [Tarih]) VALUES (3, N' Responsive Web Design - 
freeCodeCamp', N'Eylül - 2024')
SET IDENTITY_INSERT [dbo].[TblSertifikalarım] OFF
GO
SET IDENTITY_INSERT [dbo].[TblSosyalMedya] ON 

INSERT [dbo].[TblSosyalMedya] ([ID], [Ad], [Link], [Ikon], [Durum]) VALUES (1, N'LinkedIn
', N'https://www.linkedin.com/in/melike-demirci-790324202/', N'fab fa-linkedin-in', 1)
INSERT [dbo].[TblSosyalMedya] ([ID], [Ad], [Link], [Ikon], [Durum]) VALUES (2, N'Github', N'https://github.com/Melikedmrc', N'fab fa-github', 1)
INSERT [dbo].[TblSosyalMedya] ([ID], [Ad], [Link], [Ikon], [Durum]) VALUES (3, N'Twitter', N'https://x.com/MelikeDemircii', N'fab fa-twitter', 1)
SET IDENTITY_INSERT [dbo].[TblSosyalMedya] OFF
GO
SET IDENTITY_INSERT [dbo].[TblYeteneklerim] ON 

INSERT [dbo].[TblYeteneklerim] ([ID], [Yetenek], [Oran]) VALUES (1, N'C# Programlama Dili', 70)
INSERT [dbo].[TblYeteneklerim] ([ID], [Yetenek], [Oran]) VALUES (2, N'Mssql Veri Tabanı', 70)
INSERT [dbo].[TblYeteneklerim] ([ID], [Yetenek], [Oran]) VALUES (3, N'Asp.Net Mvc', 50)
SET IDENTITY_INSERT [dbo].[TblYeteneklerim] OFF
GO
