
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Yeni Admin eklme Sayfası</h4>
<form class="form-group" method="post">
    <label>Kullanıcı Adı</label>
    <input type="text" class="form-control" name="KullaniciAdi" />
    <br />
    <label>Şifre</label>
    <input type="password" class="form-control" name="Sifre" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>